<main class="mx-auto">
  <div class="relative">
    <img
      class="h-96 brightness-75 w-screen"
      src="http://unsplash.it/1920/1080?random"
      loading="lazy"
      alt=""
    />
    <h1
      class="absolute leading-10 inset-y-1/4 inset-x-1/4 font-title font-bold text-3xl text-white text-center"
    >
      Sit nisi magna occaecat consequat dolore magna aliqua. Ipsum in dolor
      deserunt officia fugiat exercitation incididunt irure ipsum. Sunt ea
      pariatur aliqua minim duis culpa nisi aliqua labore consequat.
    </h1>
  </div>
  <section class="container mt-8 mb-8 mx-auto px-60">
    <!-- 
        * Author
        * Avatar
        * Social Icons
       -->
    <div class="flex mb-8 items-center justify-between">
      <div class="flex">
        <div class="avatar flex items-center">
          <div class="w-16 rounded-full">
            <img
              src="https://api.lorem.space/image/face?hash=3174"
              loading="lazy"
            />
          </div>
        </div>
        <div class="ml-4 flex items-center">
          <ul class="flex flex-col">
            <li class="font-bold">Susilo Suharsono</li>
            <li class="font-light">April 27, 2000</li>
          </ul>
        </div>
      </div>
      <ul class="flex space-x-8 items-center">
        <li>
          <a class="text-3xl" href="#"
            ><ion-icon name="logo-instagram"></ion-icon
          ></a>
        </li>
        <li>
          <a class="text-3xl" href="#"
            ><ion-icon name="logo-facebook"></ion-icon
          ></a>
        </li>
        <li>
          <a class="text-3xl" href="#"
            ><ion-icon name="logo-twitter"></ion-icon
          ></a>
        </li>
      </ul>
    </div>
    <article>
      <h2 class="font-bold text-xl mb-8 font-title">
        Laboris proident ex reprehenderit sint. Lorem id officia sunt
        adipisicing. Amet commodo eiusmod ipsum esse. Amet tempor et occaecat
        amet esse amet occaecat anim reprehenderit pariatur elit.
      </h2>
      <div class="whitespace-normal">
        <p class="leading-6 mb-6 text-base font-content">
          Labore deserunt velit velit in reprehenderit enim sit in mollit nulla
          aliqua nostrud irure. Nisi sint amet nostrud magna irure commodo
          mollit proident. Dolor consectetur aliqua consequat nulla tempor
          commodo excepteur ex labore voluptate non Lorem duis. Labore enim
          pariatur ex nostrud consectetur culpa tempor. Cillum deserunt officia
          esse consectetur consequat nulla mollit proident elit. Enim enim
          laboris minim voluptate magna elit.
        </p>
        <p class="leading-6 mb-6 text-base font-content">
          Labore deserunt velit velit in reprehenderit enim sit in mollit nulla
          aliqua nostrud irure. Nisi sint amet nostrud magna irure commodo
          mollit proident. Dolor consectetur aliqua consequat nulla tempor
          commodo excepteur ex labore voluptate non Lorem duis. Labore enim
          pariatur ex nostrud consectetur culpa tempor. Cillum deserunt officia
          esse consectetur consequat nulla mollit proident elit. Enim enim
          laboris minim voluptate magna elit.
        </p>
        <p class="leading-6 mb-6 text-base font-content">
          Labore deserunt velit velit in reprehenderit enim sit in mollit nulla
          aliqua nostrud irure. Nisi sint amet nostrud magna irure commodo
          mollit proident. Dolor consectetur aliqua consequat nulla tempor
          commodo excepteur ex labore voluptate non Lorem duis. Labore enim
          pariatur ex nostrud consectetur culpa tempor. Cillum deserunt officia
          esse consectetur consequat nulla mollit proident elit. Enim enim
          laboris minim voluptate magna elit.
        </p>
        <p class="leading-6 mb-6 text-base font-content">
          Labore deserunt velit velit in reprehenderit enim sit in mollit nulla
          aliqua nostrud irure. Nisi sint amet nostrud magna irure commodo
          mollit proident. Dolor consectetur aliqua consequat nulla tempor
          commodo excepteur ex labore voluptate non Lorem duis. Labore enim
          pariatur ex nostrud consectetur culpa tempor. Cillum deserunt officia
          esse consectetur consequat nulla mollit proident elit. Enim enim
          laboris minim voluptate magna elit.
        </p>
        <p class="leading-6 mb-6 text-base font-content">
          Labore deserunt velit velit in reprehenderit enim sit in mollit nulla
          aliqua nostrud irure. Nisi sint amet nostrud magna irure commodo
          mollit proident. Dolor consectetur aliqua consequat nulla tempor
          commodo excepteur ex labore voluptate non Lorem duis. Labore enim
          pariatur ex nostrud consectetur culpa tempor. Cillum deserunt officia
          esse consectetur consequat nulla mollit proident elit. Enim enim
          laboris minim voluptate magna elit.
        </p>
        <p class="leading-6 mb-6 text-base font-content">
          Labore deserunt velit velit in reprehenderit enim sit in mollit nulla
          aliqua nostrud irure. Nisi sint amet nostrud magna irure commodo
          mollit proident. Dolor consectetur aliqua consequat nulla tempor
          commodo excepteur ex labore voluptate non Lorem duis. Labore enim
          pariatur ex nostrud consectetur culpa tempor. Cillum deserunt officia
          esse consectetur consequat nulla mollit proident elit. Enim enim
          laboris minim voluptate magna elit.
        </p>
      </div>
    </article>
  </section>
  <section id="cta">
    <div class="py-16 bg-gradient-to-br from-neutral to-base-100">
      <div class="container m-auto px-6 text-base-300 md:px-12 xl:px-6">
        <div class="mb-12 space-y-2 text-center">
          <h2 class="text-2xl text-primary font-bold md:text-4xl">
            Related Posts
          </h2>
        </div>

        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
          <div
            class="relative p-1 pb-16 rounded-xl group bg-base-content bg-opacity-30 shadow-xl hover:rounded-2xl"
          >
            <div class="relative">
              <div
                aria-hidden="true"
                class="absolute inset-x-0 bottom-0 h-64 bg-gradient-to-b from-transparent to-accent"
              ></div>
              <img
                src="http://unsplash.it/1000/667?random"
                loading="lazy"
                alt="art cover"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top rounded-t-lg transition duration-500 group-hover:rounded-t-xl"
              />
            </div>
            <div class="relative space-y-4 -mt-20 p-4">
              <h4 class="text-2xl font-semibold text-black">
                De fuga fugiat lorem ispum laboriosam expedita.
              </h4>
              <p class="text-base-300">
                Voluptates harum aliquam totam, doloribus eum impedit atque!
                Temporibus...
              </p>
            </div>
            <a
              href="#"
              class="absolute inset-x-4 bottom-4 flex items-center space-x-2"
            >
              <div
                aria-hidden="true"
                class="h-10 w-10 flex border border-info-content rounded-full"
              >
                <svg
                  aria-hidden="true"
                  width="24"
                  height="24"
                  fill="none"
                  class="my-auto mx-auto flex-none text-info"
                >
                  <path
                    d="M10.75 8.75l3.5 3.25-3.5 3.25"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
              <span class="text-info">Read more</span>
            </a>
          </div>
          <div
            class="relative p-1 pb-16 rounded-xl group bg-base-content bg-opacity-30 shadow-xl hover:rounded-2xl"
          >
            <div class="relative">
              <div
                aria-hidden="true"
                class="absolute inset-x-0 bottom-0 h-64 bg-gradient-to-b from-transparent to-accent"
              ></div>
              <img
                src="http://unsplash.it/1000/667?random"
                loading="lazy"
                alt="art cover"
                loading="lazy"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top rounded-t-lg transition duration-500 group-hover:rounded-t-xl"
              />
            </div>
            <div class="relative space-y-4 -mt-20 p-4">
              <h4 class="text-2xl font-semibold text-black">
                lorem ispum laboriosam expedita.
              </h4>
              <p class="text-base-300">
                Voluptates harum aliquam totam, doloribus eum impedit atque!
                Temporibus...
              </p>
            </div>
            <a
              href="#"
              class="absolute inset-x-4 bottom-4 flex items-center space-x-2"
            >
              <div
                aria-hidden="true"
                class="h-10 w-10 flex border border-info-content rounded-full"
              >
                <svg
                  aria-hidden="true"
                  width="24"
                  height="24"
                  fill="none"
                  class="my-auto mx-auto flex-none text-info"
                >
                  <path
                    d="M10.75 8.75l3.5 3.25-3.5 3.25"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
              <span class="text-info">Read more</span>
            </a>
          </div>
          <div
            class="relative p-1 pb-16 rounded-xl group bg-base-content bg-opacity-30 shadow-xl hover:rounded-2xl"
          >
            <div class="relative">
              <div
                aria-hidden="true"
                class="absolute inset-x-0 bottom-0 h-64 bg-gradient-to-b from-transparent to-accent"
              ></div>
              <img
                src="http://unsplash.it/1000/667?random"
                loading="lazy"
                alt="art cover"
                loading="lazy"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top rounded-t-lg transition duration-500 group-hover:rounded-t-xl"
              />
            </div>
            <div class="relative space-y-4 -mt-20 p-4">
              <h4 class="text-2xl font-semibold text-black">
                De fuga fugiat lorem ispum laboriosam expedita.
              </h4>
              <p class="text-base-300">
                Voluptates harum aliquam totam, doloribus eum impedit atque!
                Temporibus...
              </p>
            </div>
            <a
              href="#"
              class="absolute inset-x-4 bottom-4 flex items-center space-x-2"
            >
              <div
                aria-hidden="true"
                class="h-10 w-10 flex border border-info-content rounded-full"
              >
                <svg
                  aria-hidden="true"
                  width="24"
                  height="24"
                  fill="none"
                  class="my-auto mx-auto flex-none text-info"
                >
                  <path
                    d="M10.75 8.75l3.5 3.25-3.5 3.25"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
              <span class="text-info">Read more</span>
            </a>
          </div>
          <div
            class="relative p-1 pb-16 rounded-xl group bg-base-content bg-opacity-30 shadow-xl hover:rounded-2xl"
          >
            <div class="relative">
              <div
                aria-hidden="true"
                class="absolute inset-x-0 bottom-0 h-64 bg-gradient-to-b from-transparent to-accent"
              ></div>
              <img
                src="http://unsplash.it/1000/667?random"
                loading="lazy"
                alt="art cover"
                width="1000"
                height="667"
                class="h-64 w-full object-cover rounded-t-lg transition duration-500 group-hover:rounded-t-xl"
              />
            </div>
            <div class="relative space-y-4 -mt-20 p-4">
              <h4 class="text-2xl font-semibold text-black">
                lorem ispum laboriosam expedita.
              </h4>
              <p class="text-base-300">
                Voluptates harum aliquam totam, doloribus eum impedit atque!
                Temporibus...
              </p>
            </div>
            <a
              href="#"
              class="absolute inset-x-4 bottom-4 flex items-center space-x-2"
            >
              <div
                aria-hidden="true"
                class="h-10 w-10 flex border border-info-content rounded-full"
              >
                <svg
                  aria-hidden="true"
                  width="24"
                  height="24"
                  fill="none"
                  class="my-auto mx-auto flex-none text-info"
                >
                  <path
                    d="M10.75 8.75l3.5 3.25-3.5 3.25"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
              <span class="text-info">Read more</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
