<section title="cta">
  <div
    class="py-16 bg-gradient-to-br from-primary to-secondary md:bg-gradient-to-r"
  >
    <div class="container m-auto px-6 text-center md:px-12 lg:px-20">
      <h2 class="mb-8 text-4xl text-white font-bold md:text-4xl">
        Join for more news from Us!!!
      </h2>
      <div class="flex justify-center">
        <input
          type="text"
          placeholder="Type here"
          class="input input-bordered input-primary w-full max-w-xs"
        />
        <a
          href="#"
          title="Subscribe"
          class="w-max py-3 px-8 text-center rounded-xl transition bg-primary shadow-md hover:bg-primary-focus active:bg-purple-200 focus:bg-purple-100"
        >
          <span class="text-base-content font-semibold">Subscribe</span>
        </a>
      </div>
    </div>
  </div>
</section>
