<section title="Popular Post" class="lg:px-20 mb-8 px-4">
  <div class="container mx-auto">
    <h2 class="text-center font-title font-bold text-5xl my-8">
      Popular Posts
    </h2>
    <div class="grid lg:grid-rows-2 lg:grid-cols-3 grid-cols-1 gap-4 mx-auto">
      <article
        class="card w-auto bg-base-100 shadow-xl image-full col-span-2 row-span-2"
      >
        <figure>
          <img
            src="https://api.lorem.space/image/shoes?w=400&h=225"
            loading="lazy"
            alt="Shoes"
          />
        </figure>
        <div
          class="card-body text-center items-center absolute inset-x-6 inset-y-1/4"
        >
          <h2 class="card-title font-bold">
            Amet pariatur exercitation cillum incididunt est qui velit cillum
            aute cupidatat ullamco labore.
          </h2>
          <div class="flex items-center justify-center divide-x divide-white">
            <div class="avatar items-center lg:px-4 px-2 py-3">
              <div class="lg:w-8 w-6 rounded-full">
                <img src="https://api.lorem.space/image/face?hash=92310" />
              </div>
              <h4 class="pl-2 text-white hidden lg:block">Susilo Suharsono</h4>
            </div>
            <div class="lg:px-4 px-2 py-3 text-sm text-white">
              June 13, 2022
            </div>
          </div>
        </div>
      </article>
      <article class="card w-auto bg-base-100 shadow-xl image-full">
        <figure>
          <img
            src="https://api.lorem.space/image/shoes?w=400&h=225"
            loading="lazy"
            alt="Shoes"
          />
        </figure>
        <div class="card-body p-0 text-center items-center inset-y-8">
          <h2 class="card-title font-bold">
            Amet pariatur exercitation cillum incididunt est qui velit cillum
            aute cupidatat ullamco labore.
          </h2>
          <div class="flex items-center justify-center divide-x divide-white">
            <div class="avatar items-center lg:px-4 px-2 py-3">
              <div class="lg:w-8 w-6 rounded-full">
                <img src="https://api.lorem.space/image/face?hash=92310" />
              </div>
              <h4 class="pl-2 text-white hidden lg:block">Susilo Suharsono</h4>
            </div>
            <div class="lg:px-4 px-2 py-3 text-sm text-white">
              June 13, 2022
            </div>
          </div>
        </div>
      </article>
      <article class="card w-auto bg-base-100 shadow-xl image-full">
        <figure>
          <img
            src="https://api.lorem.space/image/shoes?w=400&h=225"
            loading="lazy"
            alt="Shoes"
          />
        </figure>
        <div class="card-body p-0 text-center items-center absolute inset-y-8">
          <h2 class="card-title font-bold">
            Amet pariatur exercitation cillum incididunt est qui velit cillum
            aute cupidatat ullamco labore.
          </h2>
          <div class="flex items-center justify-center divide-x divide-white">
            <div class="avatar items-center lg:px-4 px-2 py-3">
              <div class="lg:w-8 w-6 rounded-full">
                <img src="https://api.lorem.space/image/face?hash=92310" />
              </div>
              <h4 class="pl-2 text-white hidden lg:block">Susilo Suharsono</h4>
            </div>
            <div class="lg:px-4 px-2 py-3 text-sm text-white">
              June 13, 2022
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
