<section title="recent-post" class="lg:px-20 mb-8 px-4">
  <div class="container mx-auto">
    <h2 class="text-center font-title font-bold text-5xl my-8">Recent Post</h2>
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-10">
      <article class="card bg-base-100 shadow-xl">
        <figure>
          <img
            src="https://api.lorem.space/image/shoes?"
            class="w-full h-64 object-cover"
            alt="Shoes"
            loading="lazy"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title font-bold">
            Ullamco culpa tempor quis aliqua minim tempor duis nostrud Lorem
            culpa exercitation ut.
          </h2>
          <div class="card-actions justify-between items-center mt-2">
            <div class="avatar items-center">
              <div class="w-12 rounded-full">
                <img src="https://api.lorem.space/image/face?hash=92310" />
              </div>
              <h4 class="pl-2">Susilo Suharsono</h4>
            </div>
            <div class="text-sm text-info">June 13, 2022</div>
            <div class="flex justify-end gap-2">
              <div class="badge badge-sm badge-accent">Fashion</div>
              <div class="badge badge-sm badge-accent">Products</div>
            </div>
          </div>
        </div>
      </article>
      <article class="card bg-base-100 shadow-xl">
        <figure>
          <img
            src="https://api.lorem.space/image/shoes?"
            class="w-full h-64 object-cover"
            alt="Shoes"
            loading="lazy"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title font-bold">
            Ullamco culpa tempor quis aliqua minim tempor duis nostrud Lorem
            culpa exercitation ut.
          </h2>
          <div class="card-actions justify-between items-center mt-2">
            <div class="avatar items-center">
              <div class="w-12 rounded-full">
                <img src="https://api.lorem.space/image/face?hash=92310" />
              </div>
              <h4 class="pl-2">Susilo Suharsono</h4>
            </div>
            <div class="text-sm text-info">June 13, 2022</div>
            <div class="flex justify-end gap-2">
              <div class="badge badge-sm badge-accent">Fashion</div>
              <div class="badge badge-sm badge-accent">Products</div>
            </div>
          </div>
        </div>
      </article>
      <article class="card bg-base-100 shadow-xl">
        <figure>
          <img
            src="https://api.lorem.space/image/shoes?"
            class="w-full h-64 object-cover"
            alt="Shoes"
            loading="lazy"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title font-bold">
            Ullamco culpa tempor quis aliqua minim tempor duis nostrud Lorem
            culpa exercitation ut.
          </h2>
          <div class="card-actions justify-between items-center mt-2">
            <div class="avatar items-center">
              <div class="w-12 rounded-full">
                <img src="https://api.lorem.space/image/face?hash=92310" />
              </div>
              <h4 class="pl-2">Susilo Suharsono</h4>
            </div>
            <div class="text-sm text-info">June 13, 2022</div>
            <div class="flex justify-end gap-2">
              <div class="badge badge-sm badge-accent">Fashion</div>
              <div class="badge badge-sm badge-accent">Products</div>
            </div>
          </div>
        </div>
      </article>
      <article class="card bg-base-100 shadow-xl">
        <figure>
          <img
            src="https://api.lorem.space/image/shoes?"
            class="w-full h-64 object-cover"
            alt="Shoes"
            loading="lazy"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title font-bold">
            Ullamco culpa tempor quis aliqua minim tempor duis nostrud Lorem
            culpa exercitation ut.
          </h2>
          <div class="card-actions justify-between items-center mt-2">
            <div class="avatar items-center">
              <div class="w-12 rounded-full">
                <img src="https://api.lorem.space/image/face?hash=92310" />
              </div>
              <h4 class="pl-2">Susilo Suharsono</h4>
            </div>
            <div class="text-sm text-info">June 13, 2022</div>
            <div class="flex justify-end gap-2">
              <div class="badge badge-sm badge-accent">Fashion</div>
              <div class="badge badge-sm badge-accent">Products</div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
