@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@300&display=swap");
@tailwind base;
@layer components {
  .carousel-item {
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    opacity: 0;
    display: block;
    position: absolute;
  }
  .carousel-item[data-active] {
    opacity: 1;
    transition-delay: 0ms;
  }
}
@tailwind components;
@tailwind utilities;
